




<p><a class="btn btn-outline-success my-2 my-sm-0" routerLink='/admin/products/new'>add a new product</a></p>

    <div class="row">
      <div class="col-sm-6">
        <p><input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" #query (keyup)="filter(query.value)"></p>
      </div>
    </div>

  <ngx-datatable
          class="material"
          [rows]="filteredProducts"
          [columnMode]="'force'"
          [headerHeight]="40"
          [footerHeight]="40"
          [limit]="limit"
          [rowHeight]="'auto'"
          [sorts]="[{prop: 'title', dir: 'desc'}]">

          <ngx-datatable-column name="title">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      {{row.title}}
                    </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column name="price">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      {{row.price | currency :'USD' : 'symbol'}}
                    </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column name="">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                    <a [routerLink]="['/admin/products',row.$key]" id="a1">Edit</a>
                    </ng-template>
                  </ngx-datatable-column>
        </ngx-datatable>
<input type="number" placeholder="limit" class="form-control" (keyup.enter)="setLimit(lim)" #lim id="lim">

